body {
    position: relative;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

h1 {
    font-size: 1.6em;
    margin-bottom: 0em;
}

h2 {
    font-size: 1em;
}

h1+p {
    margin-top: 0;
}

a {
    text-decoration: none;
    color: #0071B3;
}

img[src='static/images/icons/place.png'] {
    width: 16px;
    height: 16px;
}

img.place-icon {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 1em;
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height: 2.5em;
    padding: .2em .5em;
    width: 100%;
    background-color: #F7A100;
    z-index: 1;
}

header+* {
    margin-top: 3.5em;
}

header img {
    max-width: 6em;
}

header .fa {
    margin-right: 1em;
    margin-top: .2em;
    color: #0071B3;
    font-size: 1.5em;
}

main {
    padding: 0em 1em;
}

button {
    cursor: pointer;
}


/* Transitiion form hover.css */

button {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

button:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #d4e3f5;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

button.btn--primary:before, button.active:before {
    background: #d68b00;
}

button:hover:before, button:focus:before, button:active:before {
    left: 0;
    right: 0;
}

#preferences {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

#preferences input[type="range"] {
    margin: 2em 0;
}

#map-placeholder {
    height: 20em;
}

#message-container, #match {
    background-color: #ECF1F7;
    padding: .5em;
    margin-bottom: 1em;
}

#message-container {
    padding-left: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#message-container i {
    margin-top: 1em;
    margin-right: 1em;
    height: 1em;
    width: 1em;
    color: #333;
    animation-name: spinner;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

#message {
    color: #333;
    animation-name: fadeIn;
    animation-duration: .5s;
    animation-fill-mode: both
}

#match p, #match progress, #match sup {
    animation-name: fadeIn;
    animation-duration: .5s;
    animation-fill-mode: both
}

#match progress {
    width: 100%;
    margin: .5em 0;
}

#match p {
    color: #333;
    margin-top: 0;
    margin-bottom: .3em;
}

progress[value] {
    appearance: none;
    border: 0;
    width: 100%;
    height: 1.5rem;
    background-color: white;
    border-radius: .3rem;
    color: white;
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
}

progress::-moz-progress-bar {
    background-color: #0071B3;
}

progress[value]::-webkit-progress-bar {
    background-color: white;
    border-radius: .3rem;
    background-color: rgba(255, 255, 255, 0.2);
}

progress[value]::-webkit-progress-value {
    position: relative;
    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
    background-color: #0071B3;
}

ul {
    list-style: none;
    padding: 0;
    animation-name: fadeIn;
    animation-duration: .5s;
    animation-fill-mode: both
}

ul li {
    padding: 1em;
    border-bottom: 1px solid #EDEDED
}


/* Transition from hover.cssl */

ul li {
    cursor: pointer;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

li a {
    display: block;
    cursor: pointer;
}

ul li:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0071B3;
    height: 2px;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

ul li:hover:before, ul li:focus:before, ul li:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

ul a {
    color: #0071B3;
}

#detail span {
    color: #999;
    margin-top: 0;
}

#detail h3 {
    margin-bottom: 0;
}

#detail img {
    max-width: 100%;
}

#detail progress {
    width: 100%;
}

.detail__title, .detail__description {
    color: #333;
    white-space: pre-wrap;
}

.btn-group {
    display: flex;
    flex-direction: row;
}

.btn-group>button {
    flex-grow: 1;
}

.btn {
    border: none;
    outline: none;
    padding: 1em;
    border-radius: .2em;
    background-color: #ECF1F7;
    color: #999;
}

.btn--primary, button.active {
    background-color: #F7A100;
    color: #fff !important;
}

.btn--block {
    display: block;
    width: 100%;
}

input[type=range] {
    border: none !important;
    -webkit-appearance: none;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: .2em;
    cursor: pointer;
    background: #999999;
    border-radius: 1.3px;
}

input[type=range]::-webkit-slider-thumb {
    height: 1.5em;
    width: 1.5em;
    border-radius: 100%;
    background: #0071B3;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -.75em;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #999999;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: .2em;
    cursor: pointer;
    background: #999999;
    border-radius: 1.3px;
}

input[type=range]::-moz-range-thumb {
    height: 1.5em;
    width: 1.5em;
    border-radius: 100%;
    background: #0071B3;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: .2em;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #999999;
    border-radius: 2.6px;
}

input[type=range]::-ms-fill-upper {
    background: #888888;
    border-radius: 2.6px;
}

input[type=range]::-ms-thumb {
    height: 1.5em;
    width: 1.5em;
    border-radius: 100%;
    background: #0071B3;
    cursor: pointer;
    height: .2em;
}

input[type=range]:focus::-ms-fill-lower {
    background: #999999;
}

input[type=range]:focus::-ms-fill-upper {
    background: #999999;
}

.hide {
    display: none !important;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}