body {
    position: relative;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 1.6em;
    margin-bottom: 0em;
}

h2 {
    font-size: 1em;
}

a {
    text-decoration: none;
}

img[src='static/images/icons/place.png'] {
	width: 16px;
	height: 16px;
}

header {
    display: flex;
    align-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height: 2.5em;
    padding: .2em .5em;
    width: 100%;
    background-color: #F7A100;
}

header+* {
    margin-top: 3.5em;
}

header img {
    max-width: 6em;
}

main {
    padding: 0em 1em;
}

#preferences {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

#preferences input[type="range"] {
    margin: 2em 0;
}

#map-placeholder {
    height: 20em;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 1em;
    border-bottom: 1px solid #EDEDED
}

ul a {
    color: #0071B3;
}

#detail span {
    color: #999;
    margin-top: 0;
}
#detail h3 {
	margin-bottom: 0;
}
#detail img {
    max-width: 100%;
}

#detail progress {
    width: 100%;
}

.detail__title, .detail__description {
    color: #333;
}

.btn-group {
	display: flex;
	flex-direction: row;
}

.btn-group > button {
	flex-grow: 1;
}

.btn, .btn:hover, .btn:focus {
    border: none;
    outline: none;
    padding: 1em;
    border-radius: .2em;
     background-color: ##E6F2F7;
    color: #999;
}

.btn--primary, button.active {
    background-color: #F7A100;
    color: #fff !important;
}

.btn--block {
    display: block;
    width: 100%;
}

input[type=range] {
    border: none !important;
    -webkit-appearance: none;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: .2em;
    cursor: pointer;
    background: #999999;
    border-radius: 1.3px;
}

input[type=range]::-webkit-slider-thumb {
    height: 1.5em;
    width: 1.5em;
    border-radius: 100%;
    background: #0071B3;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -.75em;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #999999;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: .2em;
    cursor: pointer;
    background: #999999;
    border-radius: 1.3px;
}

input[type=range]::-moz-range-thumb {
    height: 1.5em;
    width: 1.5em;
    border-radius: 100%;
    background: #0071B3;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: .2em;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #999999;
    border-radius: 2.6px;
}

input[type=range]::-ms-fill-upper {
    background: #888888;
    border-radius: 2.6px;
}

input[type=range]::-ms-thumb {
    height: 1.5em;
    width: 1.5em;
    border-radius: 100%;
    background: #0071B3;
    cursor: pointer;
    height: .2em;
}

input[type=range]:focus::-ms-fill-lower {
    background: #999999;
}

input[type=range]:focus::-ms-fill-upper {
    background: #999999;
}

.hide {
    display: none !important;
}